@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

body {
    background-color: lightblue;
  }

  .display-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .input1 {
    display: grid;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-right: 7%;
  }

  .input2 {
    display: grid;
    justify-content: center;
    padding-bottom: 2%;
    margin-right: 7%;
  }

  input {
    width: 150%;
    padding: 10%;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 10px;
  }

  .input-field {
    display: grid;
    columns: 3;
  }

  .title {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 300%;
    background-color: rgb(11, 234, 230);
    border-radius: 10px;
    box-shadow: 10px 10px 7px rgb(80, 80, 80);
  }

  .button-container {
    display: grid;
    justify-content: center;
    padding-right: 5%;
  }

  .enter-button {
    padding: 90%;
    text-align: center;
    margin: auto;
    font-family: 'Poppins';
    font-weight: bold;
    color: rgb(80, 80, 80);
    background-color: rgb(0, 225, 255);
    border-radius: 5px;
  }

  .photo-reciever {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    background-color: rgb(62, 175, 212);
    transition: 0.3s;
    font-family: 'Poppins';
    font-weight: 500;

  }

  .photo-reciever:hover {
    background-color:aquamarine;
    transition: 0.3s;
    font-family: 'Poppins';
    border: 1px solid blueviolet;
  }